option_settings:
  aws:elasticbeanstalk:application:environment:
    HOST: "0.0.0.0"
    PORT: "8000"
    INVENTORY_COOKIE_SECURE: "true"
    INVENTORY_DEV_RETURN_OTP: "false"
    INVENTORY_EMAIL_PROVIDER: "ses"
    INVENTORY_SES_REGION: "ap-south-1"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

